<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Page 2</title>
</head>
<body>
<div>
  <h1>
    Form page 2
  </h1>
</div>

<div>

  <form method="POST">

    <div>
      <label for="username">아이디 : </label>
      <input id="username" type="text" name="username">
    </div>

    <div>
      <label for="password">비밀번호 : </label>
      <input id="password" type="password" name="password">
    </div>

    <div>
      <label for="email">이메일 : </label>
      <input id="email" type="email" name="email">
    </div>

    <div>
      <label for="date1">날짜 : </label>
      <input id="date1" type="date" name="form_date_1">
    </div>

    <div>
      <label for="date2">날짜 : </label>
      <input id="date2" type="datetime-local" name="form_date_2">
    </div>

    <div>
      <label for="range">범위 : </label>
      <input id="range" type="range" name="form_range">
    </div>

    <div>
      <button type="submit">제출</button>
    </div>

  </form>

</div>
</body>
</html>