<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Form page1</h1>
    </div>
    <form method="POST">

        <div>
            <label for="number">
                번호 :
            </label>
            <input type="number" id="number" name="form_number">
        </div>

        <div>
            <label for="text">
                문자 :
            </label>
            <input type="text" id="text" name="form_text">
        </div>

        <div>
            <label for="date">
                날짜 :
            </label>
            <input type="date" id="date" name="form_date">
        </div>

        <div>
            <label for="range">
                범위 :
            </label>
            <input type="range" id="range" name="form_range">
        </div>

        <div>
            <button>제출</button>
        </div>

    </form>
</body>
</html>